<div class="dashboard-container">
  <!-- Logo et profil utilisateur -->
  <div class="sidebar">
    <div class="profile">
      <img src="assets/avatar.png" alt="Avatar Gestion" class="avatar">
      <p class="username">Nom d'utilisateur</p>
      <span class="role">Manager</span>
      <button class="profile-button">Gérer le Profil</button>
    </div>

    <!-- Gestion des projets -->
    <div class="project-actions">
      <h3>Gérer les projets</h3>
      <button class="action-button" (click)="goToCreationProjet()">Créer un nouveau projet</button>
      <button class="action-button">Suivre la progression</button>
      <button class="action-button">Inviter des membres</button>
    </div>
  </div>

  <!-- Liste des projets -->
  <div class="projects-section">
    <h2>Projets :</h2>
    <div class="projects-list">
      <!-- Projet Alpha -->
      <div class="project-card">
        <p class="project-name">Projet Alpha</p>
        <span class="project-description">Résumé du projet.</span>
        <div class="progress-chart"></div>
        <button class="detail-button" (click)="goToDetailProjet('Projet Alpha')">Voir Détails</button>
      </div>

      <!-- Projet Beta -->
      <div class="project-card">
        <p class="project-name">Projet Beta</p>
        <span class="project-description">Résumé du projet.</span>
        <div class="progress-chart"></div>
        <button class="detail-button" (click)="goToDetailProjet('Projet Beta')">Voir Détails</button>
      </div>
    </div>
  </div>

  <!-- Bouton Déconnexion -->
  <button class="logout-button" (click)="logout()">Se Déconnecter</button>
</div>
