.project-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2, h3 {
  color: #333;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-button {
  background-color: red;
}

.logout-button {
  background-color: darkred;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #f8f9fa;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}
